{% extends 'base.html' %}
{% block lib %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">List Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'product:index' %}">All Products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Product</a>
        </li>
      </ul>
      <form action="/product/search/" method="POST" class="form-inline mt-2 mt-md-0" style="font-family: 'Lato';">
        {% csrf_token %}
        <input id="search" name="search" value="{{ search_str }}" class="form-control mr-sm-2" type="text" placeholder="Search for Product" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div style="padding-top: 5rem;">
    <p class="lead"><strong>All Products</strong></p>
    <hr>
    </div>
  {% if pList %}
    
    <table class="table table-striped table-bordered mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in pList %}
                <tr>
                    <td>{{ product.0 }}</td>
                    <td>{{ product.1 }}</td>
                    <td>{{ product.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
        <p>No Products Available</p>
  {% endif %}
  <footer class="mt-3 text-center">
    <p style="color: darkgray;">© 2020- List Manager, Inc.</p>
  </footer>

{% endblock %}